$mobile: 665px;
$tablet: 1080px;


header{
    padding: 2rem 1.4rem;
    display: flex;
    justify-content: space-between;
}

.proper-touch {
    outline: none;
    cursor: pointer;
}

.logo {
    width: 16rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: -.2rem;
    &-container {
        max-width: 10rem;
        align-self: flex-end;
    }
    img {
        width: 100%;
    }
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 2rem;
    &-bar {
        width: 100%;
        display: flex;
        align-items: center;
        &-container{
            position: relative;
            display: flex;
            align-items: center;
            min-width: 16rem;
            width: 50%;
            input {
                width: 100%;
                height: 34px;
            }
        }

    }
    &-cancel{
        position: absolute;
        right: 1rem;
        background-color: transparent;
        height: .8rem;
        img {
            width: .8rem;
            height: .8rem;
        }
        
    }
    #search {
        background-color: var(--dark-elements);
        border-radius: 5px;
        height: 34px;
        padding:  .2rem .7rem 0 .7rem;
        margin-left: 1rem;
        img{
            width: .99rem;
            height: .99rem;
        }
    }

}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > div {
        margin: 0 1rem;
    }
    & > div > div:not(.nav-list) {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid var(--white);
        cursor: pointer;
    }
    &-list {
        border-color: transparent!important;
        margin-right: 1.5rem;
        position: relative;
        &::before {
            content: ' ';
            width: 0rem;
            height: 3px;
            display: block;
            position: absolute;
            bottom: -.3rem;
            left: 0;
            background-color: var(--background);
            transition: width .3s, background-color 0s;
            
        }
        &:hover::before {
            width: 2rem;
            background-color: var(--acid-green);
        }
    }
    &-profil {
        border: none!important;
        box-shadow: 0 0 0 2px var(--rind-green);
        transition: box-shadow .4s;
        &:hover {
            box-shadow: 0 0 0 4px var(--rind-green);
        }
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    } 

    &-watchlist, &-history {
        transition: background-color .4s;
        svg{
            width: 1.25rem;
            height: 1.25rem;
            object-fit: contain;
            fill: var(--white);
        }
        path {
            transition: fill .3s;
        }
    }
    &-history svg {
        position: relative;
        right: .1rem;
    }

    &-watchlist:hover, &-history:hover {
        background-color: var(--white);
        path {
            fill: var(--background);
        }
    }

}


@media (max-width: $tablet) {
    header{
        flex-wrap: wrap;
    }
    .search{
        flex-grow: 0;
        order: 3;
        flex-basis: 100%;
        justify-content: center;
        margin-top: 2rem;
        &-bar {
            width: initial;
        }
    }
}

@media (max-width: $mobile) {
    header {
        background-color: var(--rind-green);
        padding: 1.5rem 1.4rem;
        align-items: center;
        position: relative;
        z-index: 3;
    }
    .burger-menu{
        display: block;
        margin-left: .8rem;
        .slice {
            display: block;
            width: 2rem;
            height: .25rem;
            background-color: var(--white);
            margin: .35rem 0;
        }
    }
    .logo-text {
        color: var(--acid-green);
        font-size: 2rem;
        font-weight: bold;
    }
    .nav > div {
        margin: 0 .5rem;
    }
    .nav-search {
        &:hover {
            background-color: var(--white);
            svg{
                fill: var(--rind-green);
            }
        }
        svg{
                width: 1.2rem;
                height: 1.2rem;
                fill: var(--white);
        }
    }
    nav {
        background-color: var(--acid-green);
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: .5rem 0;
        transition: transform .3s ease-out;
        position: absolute;
        z-index: 2;
        a {
            display: block;
            color: var(--background);
            font-size: 1.2rem;
            padding: 1rem 2rem;
            &:hover {
                background-color: var(--rind-green);
            }
        }
    }
  
}