<section class="search">
    <div class="search-bar">
        <div class="search-bar-container">
            <input type="text" placeholder="Rechercher un film" aria-label="rechercher un film" required>
            <button class="search-cancel">
                <img src="../../assets/icons/cancel-icon.png" alt="Annuler la saisie">
            </button>
        </div>
        <button id="search"><img src="../../assets/icons/search.png" alt="rechercher" aria-label="Rechercher"></button>
    </div>
</section>
