$mobile: 665px;
$tablet: 1080px;

:host{
    flex-grow: 1;
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 2rem;
    &-bar {
        width: 100%;
        display: flex;
        align-items: center;
        &-container{
            position: relative;
            display: flex;
            align-items: center;
            min-width: 16rem;
            width: 50%;
            input {
                width: 100%;
                height: 34px;
            }
        }

    }
    &-cancel{
        position: absolute;
        right: 1rem;
        background-color: transparent;
        height: .8rem;
        opacity: .4;
        img {
            width: .8rem;
            height: .8rem;
        }
        &:focus,
        &:hover {
            opacity: 1;
        }
        
    }
    #search {
        background-color: var(--dark-elements);
        border-radius: 5px;
        height: 34px;
        padding:  .2rem .7rem 0 .7rem;
        margin-left: 1rem;
        img{
            width: .99rem;
            height: .99rem;
        }
        &:focus,
        &:hover {
            background-color: var(--rind-green);
        }
    }

}

@media (max-width: $tablet) {
    .search{
        flex-grow: 0;
        flex-basis: 100%;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;

    }
}

@media (max-width: $tablet) and (min-width: $mobile) {
        .search-bar {
            width: initial;
        }
}

@media (max-width: $mobile) {
    .search{
        position: absolute;
        left: 0;
        top: 6rem;
        &-bar-container {
            min-width: 13rem;
            width: 100%;
        }
    }
}
