footer {
    background-color: var(--dark-elements);
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        margin: 0 2rem;
        @media (max-width: 665px) {
            margin: 1rem 0;
        }
    }
    .foot-logo {
        margin: 0 0 0 2rem;
        img {
            height: 2rem;
        }
        @media (max-width: 665px) {
         margin: 2rem 0;
        }
    }
    .links {
        @media (max-width: 665px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width: 665px) {
        flex-direction: column;
        padding-bottom: 1rem;
    }
    @media (min-width: 665px) {
        height: 6rem;
    }
}