<div class="review">
    <div class="review-upper">
        <div class="review-user">
            <img src="{{ review.pic }}" alt="image de profil de l'utilisateur">
            <div class="review-user-infos">
                <h2>{{ review.name }}</h2>
                <p class="review-user-infos-date">{{ review.date }}</p>
            </div>
        </div>
        <div class="review-button">
            <button class="review-button-edit"><img src="../../assets/icons/edit-icon.png" alt="éditer le commentaire"></button>
            <button class="review-button-delete"><img src="../../assets/icons/bin-icon.png" alt="supprimer le commentaire"></button>
        </div>
    </div>
    <div class="review-lower">
        <p>{{ review.content }}</p>
        <b class="review-modified">Modified</b>
    </div>
</div>
