$mobile: 665px;
$large: 2400px;

.item {
    display: grid;
    -ms-grid-rows: 50% 50%;
    -ms-grid-columns: 50% 50%;
        grid-template-rows: 50% 50%; 
        grid-template-columns: 50% 50%;
    max-height: 14rem;
    background-color: var(--dark-elements);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 15px;
    @media (min-width: $mobile) {
        grid-template-columns: 9rem 1fr 9rem;
        grid-template-rows: none;
        -ms-grid-rows: none;
        -ms-grid-columns: 9rem 1fr 9rem;
        margin: 2rem 0;
    }
    &-img {
        height: 10rem;
        max-width: 8rem;
        margin-right: .5rem;
        position: relative;             
        @media (max-width: $mobile) {
            grid-row: span 2;
            grid-column: 1;
            height: 100%;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            background: url('../../assets/icons/play-icon.png') no-repeat center center;
            background-size: 30px;
            left: -.5rem;
            width: 100%;
            transition: transform .2s;
            @media (max-width: $mobile) {
                left: 0;
            }
        }
        &:hover::after,
        &:focus::after {
            transform: scale(.85);
        }
        &:hover img,
        &:focus img {
            border: 2px solid var(--acid-green);
        }
        img {
            border-radius: 5px;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            filter: opacity(80%);
            transition: border .2s;
        }
    }
    &-command {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: .5rem;
        padding-left: .5rem;
        @media (min-width: $large) {
            font-size: 1.2rem;
            padding-left: 0;
        }
        &-date {
            font-size: .6rem;
            align-self: flex-end;
        }
        button {
            background-color: var(--rind-green);
            padding: .5rem;
            border-radius: 4px;
            margin-top: .5rem;
            font-size: 1em;
            img{
                height: 1rem;
                margin-right: .5rem;
                @media (max-width: $mobile) {
                    height: .7rem;
                }
            }
            @media (max-width: $mobile) {
                font-size: .6rem;
            }
            &:focus,
            &:hover {
                background-color: lighten(#28a601, 5);
            }
        }
        &-bill {
            background-color: var(--acid-green)!important;
            &:focus,
            &:hover {
                background-color: lighten(#A7E232, 20)!important;
            }
            color: var(--dark-elements);
        }
        &-delete {
            background-color: red!important;
            &:focus,
            &:hover {
                background-color: lighten(red, 20)!important;
            }
        }
    }
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: .5rem;
    @media (min-width: $mobile) {
        font-size: 1.5rem;
    }
    @media (min-width: $large) {
        font-size: 2.2rem;
    }
    &-title {
        font-size: 1em;
    }
    &-prod {
        font-size: .65em;
        opacity: .4;
        margin-bottom: .5rem;
    }
    &-category {
        background-color: var(--rind-green);
        font-size: .6em;
        border-radius: 3px;
        padding: 0 .3rem;
        @media (min-width: $mobile) {
            padding: .3rem .5rem;
        }
    }
}