@font-face {
    font-family: 'Mazzard';
    font-display: swap;
    src: url('assets/font/MazzardM-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard';
    font-display: swap;
    src: url('assets/font/MazzardM-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root{
    font-family: 'Mazzard', sans-serif;
    background-color: var(--background);
    color: var(--white);
    --acid-green: #A7E232;
    --rind-green: #28A601;
    --background: #1F1F1F;
    --dark-elements:#3E3E3E;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

input, textarea, select {
    background-color: var(--dark-elements);
    color: var(--white);
    padding: .5rem .8rem;
    font-size: .9rem;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--background);
    transition: border-bottom .2s;
    font-family: 'Mazzard',sans-serif;
}

input:focus, textarea:focus, select:focus {
    border-bottom: 1px solid var(--acid-green);
}

button {
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: var(--white);
    font-weight:bold;
    cursor: pointer;
}

button:active,
button:focus {
    transform: scale(0.96);
    box-shadow: red;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
