.manage-member {
    padding: 2rem;
    min-height: calc(100vh - 15rem);
    @media (min-width: 665px) {
        padding: 4rem;
    }
        
    @media (min-width: 1900px) {
        font-size: 1.4rem;

    }
}

.member-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.member-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    justify-items: center;
}