$mobile: 665px;
$large: 1900px;

.connect {
    height: calc(100vh - 11rem);
    position: relative;
    @media (min-width: 1900px) {
        font-size: 1.6rem;
    }
    &-return {
        background-color: transparent;
        color: var(--rind-green);
        border: 2px solid var(--rind-green);
        padding: .5rem 1rem;
        border-radius: 8px;
        position: absolute;
        bottom: -2rem;
        @media (min-width: $mobile) {
            top: 4rem;
            bottom: initial;
            left: 6rem;
            font-size: 1rem;
        }

    }
    form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-title {
        font-size: 2.5rem;
        &::after {
            content: '';
            display: block;
            background-color: var(--acid-green);
            height: .5rem;
            width: 100%;
        }
    }
    &-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        width: 100%;
        .input-row {
            display: flex;
            justify-content: space-between;
            align-items: row;
            width: 65%;
            max-width: 25rem;
            .input-cont {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (max-width: $mobile) {
                    width: 100%;
                }
            }
            @media (max-width: $mobile) {
                flex-direction: column;
            }
        }
        .input-cont {
            width: 65%;
            max-width: 25rem;
            margin-top: 1rem;
        }
    }
    &-id, &-pass, &-birth, &-user{
        width: 100%;
        height: 2.4rem;
        margin: .4rem 0 .5rem 0;
        @media (min-width: $mobile){
            height: 2.7rem;
        }
        @media (min-width: $large){
            height: 3rem;
            font-size: .8em;
        }
    }
    &-birth, &-user{
        width: 50%;
        min-width: 10rem;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    &-link {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    &-other {
        font-size: .7rem;
        margin-bottom: .5rem;
        font-weight: normal;
        @media (min-width: $large){
         font-size: 1.2em;
        }
    }
    &-button {
        background-color: var(--acid-green);
        padding: .5rem 1rem;
        border-radius: 5px;
        color: var(--background);
        font-size: 1.2rem;
        @media (min-width: $large){
            font-size: 1.4rem;
        }
    }
}

label {
    align-items: flex-start;
}