$mobile: 665px;
$large: 2400px;

.cat{
    @media (max-width: $mobile) {
        padding: 1rem 0;
        margin-top: 4rem;
    }
    &-select{
        margin-bottom: 1rem;
        font-weight: normal;
        font-size: .8rem;
        @media (min-width: $large) {
            font-size: 1.2rem;
        } 
    }
    h2 {
        padding-left: 1rem;
    }
}
.category {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width:none;
    padding-left: 1rem;
    &-item {
        background-color: var(--rind-green);
        border-radius: 5px;
        padding: .4rem .5rem;
        margin-right: 1rem;
        font-size: .7rem;
        width: max-content;
        white-space: nowrap;
        @media (min-width: $large) {
            font-size: 1.2rem;
        }  
        &:focus,
        &:hover {
            background-color: var(--dark-elements);
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.opacity {
    opacity: .4;
}