$mobile: 665px;
$large: 2400px;

.cat{
    padding-left: 4rem;
    @media (max-width: $mobile) {
        padding: 1rem;
        margin-top: 4rem;
    }

    &-select{
        margin-bottom: 1rem;
        font-weight: normal;
        font-size: .8rem;
        @media (min-width: $large) {
            font-size: 1.2rem;
        } 
    }
}
.category {
    display: flex;
    overflow-x: scroll;
    &-item {
        background-color: var(--rind-green);
        border-radius: 5px;
        padding: .4rem .5rem;
        margin-right: 1rem;
        font-size: .7rem;
        width: max-content;
        white-space: nowrap;
        @media (min-width: $large) {
            font-size: 1.2rem;
        }  
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.opacity {
    opacity: .4;
}