$mobile: 665px;
$tablet: 1080px;

.phrase-res {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    @media (min-width:$mobile) {
        margin-left: 4rem;
        font-size: 1.7rem;
    }
}

#sorting {
    display: flex;
    justify-content: center;
    @media (min-width:$mobile) {
        justify-content: flex-end;
        margin-right: 2rem;
    }
}
.sort {
    border-radius: 25px;
    background: var(--acid-green);
    width: 4.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    img {
        width: .7rem;
        margin-right: .5rem;
        @media (min-width:$mobile) {
            width: .9rem;
        }
    }
    p{
        font-size: .85em;    
    }
    @media (min-width:$mobile) {
        font-size: 1.2rem;
        width: 5rem;
        height: 2rem;
    }
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    @media (min-width: $tablet) {
        grid-template-columns: repeat(auto-fit, 13rem);
    }
    @media (min-width: $mobile) {
        padding: 0 3rem;
    }
    gap: 2rem 1rem;
    justify-items: center;
    padding: 0 2rem;
    margin: 2rem 0;
}


.empty {
    line-height: 50vh;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}