$mobile: 665px;
$large: 1900px;

.edit {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;
    min-height: calc(100vh - 15rem);
    h1 {
        margin-bottom: 2rem;
    }
    @media (min-width: $mobile) {
        padding: 4rem;
    }
    @media (min-width: $large) {
        font-size: 2.2rem;
    }
    &-cont, form{
        display: grid;
        flex-direction: column;
        align-items: flex-start;
    }
    @media (min-width: $mobile) {
        &-cont {
            max-width: 100%;
            &:nth-of-type(3n+1){
                grid-column: 1;
            }
            &:nth-last-of-type(2) {
                grid-column: span 3!important;
            }
        }
    }
    form{
        label {
            font-size: 1.3rem;
            margin-top: 1rem;
        }
        input, select, textarea {
            width: 100%;
        }
        textarea {
            min-height: 10rem;
        }
        @media (min-width: $mobile) {
            width: 100%;
            grid-template-columns: 50% 25% 20%;
            gap: 1.5rem;
        }

    }
    &-buttons{
        margin-top: 1rem;
        @media (min-width: $mobile) {
            grid-column: 3;
            display: flex;
            justify-content: space-between;
        }
    }
    &-cancel, &-submit {
        border-radius: 5px;
        padding: .5rem .7rem;
    }
    &-cancel {
        background-color: transparent;
        border: 1px solid var(--white);
        margin-right: .5rem;
    }
    &-submit {
        background-color: var(--acid-green);
        color: var(--background);
    }
    &-delete {
        background-color: red!important;
        padding: .5rem;
        border-radius: 4px;
        margin-top: .5rem;
        position: absolute;
        top: 0;
        right: .5rem;
        font-size: .6rem;
        @media (min-width: $mobile) {
            right: 1.5rem;
        }
    }
}

:disabled {
    opacity: .4;
}

.error {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    background-color: red;
    color: var(--white);
    padding: .7rem 1rem;
    border-radius: 5px;
}