$mobile: 665px;
$large: 2400px;

.note {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
    @media (max-width: $mobile){
        flex-direction: column;
        align-items: flex-start;
    }
    p{
        @media (min-width: $large) {
            font-size: 1.5rem;
        }
    }
    &-select {
        display: flex;
        margin-top: 1rem;
        position: relative;
        &-item{
            margin: 0 .2rem;
            transition: opacity .2s, transform .2s;
            position: relative;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            img{
                width: 2.5rem;
                height: 2.5rem;
                display: block;
            }
            &:hover ~ .note-select-item {
                opacity: .7!important;
            }
            &:active {
                transform: scale(1.02) rotate(90deg);
                transform-origin: 1.28rem 1.24rem;
            }

        }
        input{
            height: 0px;
            width: 0px;
            opacity: 0;
            outline: none;
            &:focus {
                opacity: 1;
                outline: none!important;
                &::after {
                    content: 'Merci d\'avoir donné votre avis 😉';
                    display: flex;
                    width: 100%;
                    height: .3rem;
                    position: absolute;
                    top: 3rem;
                    left: .7rem;
                    font-size: .6rem;
                    outline: none;
                    opacity: .7;
                }
            }
        }
        input:checked ~ label {
            opacity: .7;
            outline: none;
        }
        input:checked + label {
            opacity: 1;
            outline: none;
        }
        
    }

    &-medium {
        &-label {
            font-size: .6rem;
        }
        &-main {
            font-size: 4rem;
            .colored{
                color: var(--acid-green);
            }
        }
    }
}


